.boysenBorder{
	border:1px solid red;
}
.boysenWrapper{
	z-index: 2147483647;
	position: fixed;
	width:400px;
	height:500px;
	background-color: rgba(241,241,241,0.8);
	right:20px;
	top:20px;
	display: none;
	overflow-x:hidden; 
}
#boysenWrapperTitle{
	color:#c2406d;
	text-align: left;
}
#boysenWrapperTitle > div{
	margin:10px;
	font-size: 20px;
}

html,body{
	margin:0;
	padding:0;
	font-family: 'Arimo',sans-serif;
}
/*
Title in the popup
*/
.popupTitle{
	width:450px;
	background-color: #c2406d;
	color:white;
	height:40px;
	
}
.popupTitleInner{
	padding:10px;
	float: left;
}
.popupTitleDisplayModeToggle{
	float: right;
	color:white;
	margin-top: 10px;
}
.popupTitleDisplayModeToggleImage{
	float: right;
	width: 25px;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
}
/*
Display the current class
*/
.popupClassDisplay{
	width:450px;
	min-height: 300px;
	background-color: white;
	color:#c2406d;
}
.popupClassDisplayOuter{
	padding-left: 10px;
	padding-top: 10px;	
}
.popupClassDisplayBody{
	padding-top: 10px;
	padding-left: 30px;
}